.navbar-nav {
  .nav-item {
    .nav-link {
      text-transform: capitalize;
    }
    // .active {
    //   border-bottom: 1px solid #2e2b27;
    // }
  }
}

.my-alert {
  margin: 10px 0px;
}

.movie-title:hover {
  // border-bottom: 1px solid blue;
  color: blue !important;
}

@media screen and (max-width: 500px) {
  .table-box {
    .box-1 {
      max-width: 100% !important;
    }
  }
}
@media screen and (min-width: 500px) {
  .table-box {
    .box-1 {
      max-width: 20% !important;
    }
  }
}
